*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
*.tgz
.DS_Store
*.code-workspace
*.scpt
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/**/node_modules/
/**/dist/**/
/**/build/**/
/vcode.code-workspace
/**/coverage/
node_modules
cypress/screenshots/*
